nav{
  background-color: firebrick;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

#nav-btn{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

nav a{
  text-decoration: none;
  color: white;
}

nav a:hover{
  color: lightgrey;
}

nav ul{
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 19%;
  text-align: center;
}

section {
  padding-top: 45px;
  margin-top: -45px;
}

#keepers{
  height: 500px;
}

#defenders{
  height: 1300px;
}

#gallery > .row > div {
  padding-bottom: 30px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline;
}

#team img {
  height: auto;
  width: 200px;
}

h5{
   display: inline-block;
   min-width: 120px;
   color: firebrick;
 }

/*media query section*/

@media all and (max-width: 768px){
  nav{
    display: none;
  }

  nav li{
    display: block;
    width: 100%;
  }

  #nav-btn{
    display: block;
  }
}
